{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"experimentalTernaries": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"proseWrap": "preserve",
	"insertPragma": false,
	"requirePragma": false,
	"tabWidth": 2,
	"embeddedLanguageFormatting": "auto",
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}